# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
filepath = ("../WeatherPy/Output File/city_data.csv")
city_data = pd.read_csv(filepath)
city_data.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tres arroyos,-38.37,-60.28,58.48,45.0,0.0,14.07,AR,1.602704e+09
1,vaini,-21.20,-175.20,73.40,73.0,90.0,9.17,TO,1.602704e+09
2,rikitea,-23.12,-134.97,73.90,79.0,53.0,18.21,PF,1.602703e+09
3,esperance,-33.87,121.90,57.20,100.0,90.0,9.17,AU,1.602704e+09
4,puerto ayacucho,5.66,-67.62,89.64,60.0,0.0,4.72,VE,1.602704e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
cd_2 = city_data.fillna(0)

In [22]:
locations = cd_2[['Latitude', 'Longitude']]
weights = cd_2['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
city_data.dropna()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tres arroyos,-38.37,-60.28,58.48,45.0,0.0,14.07,AR,1.602704e+09
1,vaini,-21.20,-175.20,73.40,73.0,90.0,9.17,TO,1.602704e+09
2,rikitea,-23.12,-134.97,73.90,79.0,53.0,18.21,PF,1.602703e+09
3,esperance,-33.87,121.90,57.20,100.0,90.0,9.17,AU,1.602704e+09
4,puerto ayacucho,5.66,-67.62,89.64,60.0,0.0,4.72,VE,1.602704e+09
...,...,...,...,...,...,...,...,...,...
600,nongan,44.38,125.17,32.00,74.0,9.0,8.95,CN,1.602705e+09
601,san lorenzo,-25.33,-57.53,77.00,73.0,54.0,25.28,PY,1.602705e+09
602,saint anthony,45.02,-93.22,62.01,51.0,1.0,16.11,US,1.602705e+09
603,turayf,31.67,38.66,69.80,49.0,0.0,4.70,SA,1.602705e+09
604,karratha,-20.74,116.85,80.37,31.0,0.0,11.83,AU,1.602705e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure